# Providing the token for the pyrdp-commons repo. Please avoid such constructs when switching to poetry.
--extra-index-url https://__token__:glpat-gnvZ7_3rsAh7XJP-Tch-@gitlab-intern.ait.ac.at/api/v4/projects/3611/packages/pypi/simple

requests==2.28
cachecontrol==0.12
lockfile==0.12.2
numpy==1.23.1
pandas==1.5.3
hiredis==2.0.0
redis==4.3
jsonpath-rw==1.4
git+https://${MODBUS_GIT_USER}:${MODBUS_GIT_PASSWORD}@gitlab-intern.ait.ac.at/ees-lachs/modbus-crawler@master
pyrdp-commons==0.0.0.post24.dev0+5cbd951
