pyyaml==6.0
requests==2.28
cachecontrol==0.12
lockfile==0.12.2
numpy==1.23.1
pandas==1.4.3
hiredis==2.0.0
redis==4.3
python-dotenv==0.20
jsonpath-rw==1.4
git+https://${MODBUS_GIT_USER}:${MODBUS_GIT_PASSWORD}@gitlab-intern.ait.ac.at/ees-lachs/modbus-crawler@3-port-the-data-crawler-to-pymodbus-3